/* Import Manrope font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  /* Primary Colors */
  --blue-200: hsl(193, 38%, 86%);
  --green-300: hsl(150, 100%, 66%);
  
  /* Neutral Colors */
  --blue-600: hsl(217, 19%, 38%);
  --blue-900: hsl(217, 19%, 24%);
  --blue-950: hsl(218, 23%, 16%);
  
  /* Typography */
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-manrope: "Manrope", sans-serif;
  
  /* Font Sizes */
  --font-size-quote: 28px;
}

body {
  font-family: var(--font-manrope);
  background-color: var(--blue-950);
  color: var(--blue-200);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
